html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h1 {
    text-align: center;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h1:hover {
    cursor: pointer;
}

input {
    position: absolute;
    width: 99%;
    height: 89%;
    color: #2f2f2f;
    opacity: 0;
}

.item {
    border-radius: 20px;
    position: absolute;
    width: 300px;
}

img {
    border-radius: 20px;
    width: 100px;
    height: auto;
    border: #3b5fff00 4px solid;
    transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cross {
    border-radius: 20%;
    padding: 2px;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: transparent;
}

.cross:hover {
    color: red;
    transition: 0.2s ease-in-out;
}

.item img {
    width: 100%;
    height: 100%;
    border: #3b5fff00 4px solid;
    box-shadow: #3b5fff00 0px 0px 10px;
}

.light-mode img:hover {
    cursor: grab;
    border: #3b5fff 4px solid;
    box-shadow: #3b5fff 0px 0px 10px;
}

.dark-mode img:hover {
    cursor: grab;
    border: #f2f2f2 4px solid;
    box-shadow: #f2f2f2 0px 0px 10px;
}

.item img:active {
    cursor: grabbing;
}

.ui-icon,
.ui-resizable-s,
.ui-resizable-e {
    opacity: 0;
}